.idea
#.vscode
.ipynb_checkpoints/
**/__pycache__
*.py[cod]
*.$pyc
*.pkl
*.pdf
*.pt
*.egg-info
data
data_
video
my_scripts/
log
yyf/data_
yyf/*.json
yyf/nb/pdf
!link_data.txt
habitat-sim
habitat-lab
3rdparty
src
results
third_party


